@mixin reset-size {
    margin: 0;
    border: 0;
    padding: 0;
}
@mixin body-content {
    position: relative;
    background: rgb(4,0,36);
    background:linear-gradient( 180deg, #42b883, #35495e);
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin image-profile {
    width: 60%;
    border-radius: 100%;
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    margin-top: 20px;
}
@mixin social-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    margin-top: 2vh;
    gap: 1em;
}
@mixin link-list {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

@mixin container-footer {
    text-align: center;
    background: linear-gradient(to right, #485563, #29323c);
}

@mixin footer {
    display: block;
    position: relative;
    width: 100vw;
}
@mixin link-list-text {
    background-color: white;
    display: block;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 3% 7% 3% 7%;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
    text-decoration: none;
    color: #2b46e4;
    max-width: 90%;
}
@mixin link-list-secondary {
    margin: 7% 0 2% 0;
}
@mixin hover-secondary {
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    color:#2b46e4;
}
@mixin text-primary {
    font-family: $font-secondary, Arial;
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
@mixin hover-primary {
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    color:#0a0a0a;
}