@import 'base';
@import 'variables';
@import 'mixins';

* {
    @include reset-size;
}

.body-content {
    @include body-content;
    
    .profile {
        text-align: center;
        
        img {
            @include image-profile;
        }
        
        h1 {
            @include text-primary;
        }
        
        h2 {
            font-size: 1rem;
        }
    }
    
    .social {
        @include social-icons;
        img {
            width: 33px;
        }
    }
    
    .link-list {
        @include link-list;
        
        li {
            margin: 1.3% 0;
        } 
        li a {
            @include link-list-text;
            
            &:hover {
                @include hover-primary;
            }
            
            span {
                color: gray;
                font-size: 0.9rem;
                display: block;
                margin-top: 1vh;
            }
        }
    }
    
    .second-link {
        @include link-list-secondary;
        
        li a {
            color: black;
            
            &:hover {
                @include hover-secondary;
            }
        }
    }
}

.container {
    @include container-footer;
    
    a {
        color: white;
    }
    
    p {
        padding: 2rem;
    }
    
    .end-site {
        display: block;
        position: relative;
        width: 100vw;
    }
}

@media (max-width:280px) {
    .social {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width:140px) {
    h1 {
        font-size: 100%;
    }
    
    p {
        font-size: 100%;
    }
}

@media (max-width:122px) {
    .body-content .link-list li {
        padding: 5% 0 5% 0;
    }
}

@media (max-width:122px) {
    .body-content .link-list li a {
        padding: 3% 7% 3% 7%;
    }
}

@media (max-width:232px) {
    .body-content.social img {
        width: 25px;
    }
}

@media (min-height:1660px) and (max-height:1890px) {
    .container {
        margin-top: 10vh;
    }
}

@media (min-height:1891px) and (max-height:2500px) {
    .container {
        margin-top: 30vh;
    }
}

@media (min-height: 2501px) and (max-height:9000px) {
    .container {
        margin-top: calc(50vh);
    }
}

@media (min-width: 56px) and (max-width:1000px) {
    .body-content .profile img {
        width: 70%;
        border-radius: 100%;
        border: 3px solid white;
        box-shadow: 0 0 17px white;
        margin-top: 20px;
    }
}
